@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik Dirt, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #eaeaea;
}

body {
  margin: 0 100px;
}


* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

input {
  border: 0;
  outline: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

@media (max-width: 700px) {
   body {
    margin: 0 30px !important;
   }
}
